body {
    background-color: #00000000;
}

.navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    font-weight: lighter;
    top: 0; 
    width: 100%;
    height: auto;
    margin-right: 2%;
    font-size: 1.2rem;
    background-image: linear-gradient(#efefef, #ffffff, #efefef);
    opacity: 0.9;
    border-bottom: 1px solid rgba(206, 206, 206, 0.882);
  }
.nav-link{
    padding-inline: 1%;
    position: relative
}

.nameheader{
    background: hidden;
}
.nav-wrapper {
    display: inline flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    margin-top: 0.5%;
    margin-right: 5%;
    font-size: 2rem;
    opacity: 0.9;
    }

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: right;
    text-decoration: none;
  }
.myname{
    display: inline-block;
    font-size: 2rem;
    margin-left: 10%;
    font-weight: lighter;
}
.navbar a:hover {
    background-image: linear-gradient(#efefef, #ffffff, #efefef);
    color: #000000;
}

.art-dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Position it below the parent link */
    left: 0;
    background-color: #f6f6f6;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.art-dropdown a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.art-dropdown a:hover {
    background-color: #ececec;
}

/* Show dropdown on hover */
.dropdown:hover .art-dropdown {
    display: block;
    color: #000000;
}
.cv-dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Position it below the parent link */
    left: 0;
    background-color: #f6f6f6;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.cv-dropdown a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.cv-dropdown a:hover {
    background-color: #ececec;
}

/* Show dropdown on hover */
.dropdown:hover .cv-dropdown {
    display: block;
    color: #000000;
}
h1 {
    font-size: 50pt;
    font-weight: lighter;

}
h2{
    font-weight: lighter;
}
h3 {
    font-weight: lighter;
}
.icon-right {
    margin-right: 5%;
}
.icon img{
    display: inline-block;
    height: 20px;
}
.widthdiv {
    width: 0%;
    background-color: #000000;
}
.myname{
    display: inline-block;
    font-size: 2rem;
    margin-left: 10%;
    font-weight: lighter;
    margin-top: 0.75%;
}
 
.hero {
    height: 100%;
    width: 100vw;
}

.landscape-container{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;    
    position: static;
    align-items: center;
    background-image: linear-gradient(#e8e8e80f, #a0a0a032, #e8e8e803);

}
.projectdivlandscape {
    padding-top: 5%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.projectdivlandscape img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    box-shadow: 0 5px 5px -5px #000500;
    filter: drop-shadow(16px 5% 20px rgb(0, 0, 0)) invert(10%);
    filter: grayscale(20%);
}
.projectdivlandscape P {
    justify-content: center;
    font-weight: lighter;
    font-style: italic;
    padding-left: 10%;
}
.workcontainer {
    overflow: hidden;
    display: flex;
    position: static;
    background-image: linear-gradient(#e8e8e80f, #a0a0a032, #e8e8e803);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-inline: 2%;
}
.projectdiv{
    width: 42%;
    height: auto;
}
.projectdiv img{
    width: 95%;
    height: auto;
    padding: 2%;
    box-shadow: 0 5px 5px -5px #000500;
    filter: drop-shadow(16px 5% 20px rgb(0, 0, 0)) invert(10%);
    filter: grayscale(20%);
}
.projectdiv P {
    font-weight: lighter;
    font-style: italic;
}
.projectdiv:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.squarecontainer {
    overflow: hidden;
    display: block;
    position: static;
    align-items: center;
    background-image: linear-gradient(#e8e8e80f, #a0a0a032, #e8e8e803);
    margin-bottom: 10%;
    margin-top: 5%;
    margin-inline: 2%;
}
.squarediv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
}
.squarediv:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.squarediv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    padding: 2%;
    box-shadow: 0 5px 5px -5px #000500;
    filter: drop-shadow(16px 5%px 20px rgb(0, 0, 0)) invert(10%);
    filter: grayscale(20%);
}
.squarediv P {
    font-weight: lighter;
    font-style: italic;
}

.cv-wrap{
    background-image: linear-gradient(#e8e8e80f, #a0a0a032, #e8e8e803);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: stretch;
    margin-bottom: 5%;
    margin-inline: 10%;
    margin-top: 7.5%;
}
.cv-wrap h1{
    padding-top: 5%;
    padding-left: 5%;
}
.cv-wrap h2{
    padding-left: 5%;
    font-style: italic;
}
.cv-wrap p{
    padding-left: 5%;
}
.cv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: 5%;
}
.cv-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}
.cv-table td {
    border-width: 1px solid #ddd;
    padding: 8px;
    margin-inline: 5%;
    font-style: italic;
}
.cv-table th {
    font-weight: lighter;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2.5%;
}
.ed-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}
.ed-table td {
    border-width: 1px solid #ddd;
    padding: 8px;
    margin-inline: 5%;
    font-style: italic;
}
.ed-table th {
    font-weight: lighter;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2.5%;
}
.contactcontainer{
    display: flex;
    padding-top: 134.4px;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center ;
    padding: 50px;
    overflow: hidden;
    background-image: linear-gradient(#ffffff, #ffffff, #00000024);
}
.statement-wrap{
    background-image: linear-gradient(#e8e8e80f, #a0a0a032, #e8e8e803);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: stretch;
    margin-bottom: 5%;
    margin-inline: 10%;
    margin-top: 7.5%;

}
.statement-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}
.artist-statement{
    padding: 5% 10%;
}
.artist-statement p{
    text-align: center;
}

 /* @media screen and (min-width: 400px) {
    .workcontainer{

    }
}

@media screen and (min-width: 1853px) {
    .workcontainer{
        margin-inline: 7.5%;
        margin-top: 5%
    }
}

@media screen and (min-width: 3090px) {
    .workcontainer{
        margin-inline: 7.5%;
        margin-top: 5%
        }
    } */

@media screen and (max-height: 920px) {

    .projectdivlandscape{
        width: 90%;
        height: auto;
        }
    .projectdivlandscape img{
        width: 80%;
        height: auto;
        }
    .projectdiv{
        width: 45%;
        }
    .squarediv {
        width: 70%
        }
}    
