* {
    
    background-color: F3F8FF;
}
body {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 10px;
}

.nav {

}

.pagecontainer {
    height: 100vh;
}

.about_container {
    display: flex;
    justify-content: space-evenly;
}

#Portfolio {
   

}
.projectflex {
    display: flex
    justify-content:  


}

.chris {
    
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.about {
    display: flex;
    justify-content: ;
}
#Contact {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.icons img {
    display: inline-block;
    float: right;
    width: 50px;
    height: auto;
    padding-right: 5;
}

