.navbar {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    background-image: linear-gradient(#ece6e5, #ffffff, #ece6e5);
    opacity: 0.9;
  }
.nameheader{
    background: hidden;
}
.nav-wrapper {
    display: inline flex;
    justify-content: right;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    margin: auto;
    margin-top: ;
    font-size: 1.2rem;
    background-image: linear-gradient(#ece6e5, #ffffff, #ece6e5);
    opacity: 0.9;

    }

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }


/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
  }

.icon img{
    display: inline-block;
    width: autopx;
    height: 20px;
}
.wrapper {
    padding: 50px;
}

.containermargin{
    padding-top: 50px;
    box-sizing: border-box;

}

.hero {
    height: 100vh;
}
.container {
    display: flex;
    padding-top: 134.4px;
    height: 90vh;
    min-height: 850px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 50px;
    }

#work{
    margin-top: 50pt;


}
.projectdiv img{
    width: 29pc;
    height: 25pc;
}

#CV {

}

#Contact {


}